<div class="job">
  <div class="container">
    <p>We estimate <strong><%= @hours %>hrs</strong> to clean your house and the following <strong><%= @profile_count %></strong> cleaning services to complete the job for you:</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div id="cleaner-listings">

			<% @profiles.each do |profile| %>	
			<div class="col-md-6 card">		
				<div class="panel panel-default list-panel">
					<div class="panel-body">

						<div class="row">
							<div class="col-md-2 client-brand">
								<span class="branding"><%= link_to (image_tag profile.image.thumb), "/p/#{profile.id}" %></span>
							</div>
							<div class="col-md-7">
								<div class="row">
									<div class="col-md-12">
										<h2><%= profile.name %></h2>
									</div>
								</div>

								<div class="row">
									<div class="col-md-12 slogan">
										<p>Clean Team - Leave Your Troubles With Us!</p>
									</div>
								</div>

							</div>

							<div class="col-md-3">
								<div class="rating">
									<p class="stars">
										<i class="icon-star"></i>
										<i class="icon-star"></i>
										<i class="icon-star"></i>
										<i class="icon-star"></i>
										<i class="icon-star none"></i>
									</p>	
								</div>
								<div class="price">
									<p>
										<span></span>
							
									</p>	
								</div>
								<div class="buttons">
									<a class="btn btn-small btn-default book" href="#"><i class="icon-thumbs-up"></i> Book us</a>
								</div>
								<!--
								-->
							</div>
						</div>			

					</div>
					<div class="panel-footer">
						<div class="row">
							<div class="col-md-9">
								<div class="row">
									<div class="col-md-3">
										<% if profile.supplies %> 
											<i class="icon-ok"></i> Supplies 
										<% else %> 
											<i class="icon-remove"></i> Supplies
										<% end %>    
									</div>
									<div class="col-md-9">
										<i class="icon-comments-alt"></i> 13 Reviews
									</div>
								</div>
							</div>
							<div class="col-md-3">
								Estimate: $<%= (profile.hourly_rate * @hours).ceil %>
							</div>
						</div>
					</div>
				</div>
			</div>
			<% end %>	

  	</div>
  </div>
</div>

