<%= render :partial => "nav" %>	
<div class="container">
	<div class="row marg-top-40">
	
		<div class="col-md-3" id="">
		  <div class="widget widget-categories">
		  
	      <div class="widget-title"><h5>Cities</h5></div>
          
        <ul>
          <% @cities.each do |city| %>
            <li><%= link_to city.pretty_name, "/ehdmin/edit_city/#{city.url}" %></li>
          <% end %>
        </ul>
          
      </div>	  			  
		</div>
		
		<div class="col-md-9" id="">
      <div class="panel panel-default">
        <div class="panel-body">
          <%= form_for @city do |f| %>
			      <div class="form-group">
              <label>URL</label>
              <%= f.text_field :url, :class => "span3", :value => "cleaning-services-" %>
	          </div>
			      <div class="form-group">
              <label>Pretty Name</label>
              <%= f.text_field :pretty_name, :class => "span3" %>
	          </div>
	          <div class="form-group">
        			<%= f.label "Published" %>
			        <%= f.select :published, [ ['Yes', 'true'], ['No', 'false'] ], {}, { :class => "form-control" } %>
            </div>
            <%= f.submit "Create City", :class => "btn btn-primary" %>
          <% end %>
	      </div>
      </div>
    </div>
		  
  </div>
</div>
