<%= render :partial => "nav" %>	
<div class="container">
	<div class="row marg-top-40">
	
		<div class="col-md-3" id="">
              <div class="panel panel-default">
                <div class="panel-body">
		  <div class="widget widget-categories">
		  
	      <div class="widget-title"><a href="/ehdmin/show_profiles/<%= @city.url %>"><h5><%= @city.pretty_name %></h5></a></div>
          
        <ul>
          <% @profiles.each do |profile| %>
            <li><%= link_to profile.name, "/ehdmin/edit_profile/#{profile.id}" %></li>
          <% end %>
        </ul>
          
      </div>	  			  
		</div>
      </div>	  			  
		</div>
    
		<div class="col-md-9" id="">
            <%= form_for @profile, :html => {:multipart => true, :role => "form"} do |f| %>
              <div class="panel panel-default">
                <div class="panel-body">
                
                  <% if @profile.errors.any? %>
                    <div id="error_explanation">
                      <h4>Please resolve the following so that we can create your profile, thanks!</h4>
                      <ul>
                        <% @profile.errors.full_messages.each do |message| %>
                          <li><%= message %></li>
                        <% end %>
                      </ul>
                    </div>
                  <% end %>

                  <p id="notice"><%= notice %></p>

	                <div class="row">
		                <div class="col-md-12">
		                    
                      <% if current_user.role == "ehdmin" || current_user.role == "contractor" %>
                      <% end %>

	                    <div class="form-group">
                  			<%= image_tag @profile.image.thumb %>
                      </div>

                			<%= f.label "Name: #{@profile.user.first_name} #{@profile.user.last_name}", :class => "input-label" %><br />
                			<%= f.label "Name: #{@profile.user.name}", :class => "input-label" %><br />
                			<%= f.label "Notification Email:", :class => "input-label" %> <%= @profile.user.notification_email if @profile.user.respond_to?(:notification_email) %> <br />
                			<%= f.label "Emails:", :class => "input-label" %> <%= @profile.user.email if @profile.user.respond_to?(:email) %><%= ", " + @profile.user.email2 if @profile.user.respond_to?(:email2) %>, <%= ", " + @profile.user.email3 if @profile.user.respond_to?(:email3) %> <br />
                			<%= f.label "Phone: #{@profile.user.phone}", :class => "input-label" %>

			                <div class="form-group">
                  			<%= f.label "Name*" %>
		                    <%= f.text_field :name, :class => "form-control", :placeholder => "Name" %>
		                  </div>
		                  
		                  <div class="form-group">
                  			<%= f.label "Approved" %>
			                  <%= f.select :approved, [ ['Yes', 'true'], ['No', 'false'] ], {}, { :class => "form-control" } %>
	                    </div>

	                    <div class="form-group">
                  			<%= f.label "Notes:" %>
                        <%= f.text_area :note, :rows => 5, :class => "form-control", :placeholder => "" %>
                      </div>

			                <div class="form-group">
                  			<%= f.label "City*", :class => "input-label" %>
				                <%= f.select :city_id, options_from_collection_for_select(@cities, '_id', 'pretty_name', (@profile.city.id if @profile.city)), {}, { :class => "form-control" } %>
		                  </div>

			                <div class="form-group">
                  			<%= f.label "About*" %>
		                    <%= f.text_area :about, :rows => 5, :class => "form-control", :placeholder => "" %>
		                  </div>
		                    
                      <% if current_user.role == "seller" %>
			                  <div class="form-group">
                    			<%= f.label "Will you bring your own cleaning supplies?*" %>
				                  <%= f.select :supplies, [ ['Yes', 'true'], ['No', 'false'] ], {}, { :class => "form-control" } %>
		                    </div>
                      <% end %>

	                    <div class="form-group">
                  			<%= f.label "Hourly rate*" %>
		                    <%= f.select :hourly_rate, options_for_select(@hourly_rate, :selected => @profile.hourly_rate), {}, { :class => "form-control" } %>
                      </div>

			                <div class="form-group">
                  			<%= f.label "Minimum booking hours*" %>
				                <%= f.select :min_hours, options_for_select(@min_hours, :selected => @profile.min_hours), {}, { :class => "form-control" } %>
		                  </div>

			                <div class="form-group">
                  			<%= f.label "Specific location or neighbourhoods" %>
		                    <%= f.text_field :neighbourhoods, :class => "form-control", :placeholder => "" %>
		                  </div>
		                  
			                <div class="form-group">
                  			<%= f.label "Notification email" %>
		                    <%= f.text_field :notification_email, :class => "form-control", :placeholder => "" %>
		                  </div>
		                      
		                  <div class="profile-buttons">
				                <%= f.submit "Save Profile", :class => "btn btn-default btn-lg btn-warning btn-block" %>
		                  </div>

                      <div class="form-group">
                  			<%= f.label "* Required Field", :class => "input-label" %>
		                  </div>

		                </div>  
	                </div>

	              </div>
              </div>
            <% end %>
    </div>
		  
  </div>
</div>
