<h1>Listing jobs</h1>

<table>
  <tr>
    <th>E</th>
    <th>P</th>
    <th>A</th>
    <th>C</th>
    <th>T</th>
    <th>S</th>
    <th>D</th>
    <th>C</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @jobs.each do |job| %>
  <tr>
    <td><%= job.e %></td>
    <td><%= job.p %></td>
    <td><%= job.a %></td>
    <td><%= job.c %></td>
    <td><%= job.t %></td>
    <td><%= job.s %></td>
    <td><%= job.d %></td>
    <td><%= job.c %></td>
    <td><%= link_to 'Show', job %></td>
    <td><%= link_to 'Edit', edit_job_path(job) %></td>
    <td><%= link_to 'Destroy', job, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Job', new_job_path %>
