
		
        <% if @job.cancelled %>
		      <div class="section-title">
			      <h1 class="super-title">Your booking has been cancelled.</h1>
			      <p class="subheading"><a href="<%= @job.city.url %>"> Create new booking</a></p>
		      </div>
        <% else %>
          <% if @job.winning_offer_id %>
          
            <% offer = Offer.find(@job.winning_offer_id) %>
            
		        <div class="section-title">
			        <h1 class="super-title">Your Winning Offer</h1>
			        <p class="subheading"></p>
		        </div>
              
            <div class="row offer-panel">
              <div class="col-md-8 col-md-offset-2">
                <div class="row">
                  <div class="panel panel-default">
                    <div class="panel-body">
                      <div class="col-md-2">
                        <img width="100%" src="/assets/profile_image_placeholder1.jpg" />
                      </div>
                      <div class="col-md-10">
                        <h4><%= offer.profile.name %></h4>
                        <p><%= simple_format(offer.profile.about) %></p>
                      </div>
                    </div>
                    <div class="panel-footer">
                      <div class="col-md-12">
                        <p><strong>$<%= offer.dollar_amount %><%= @job.date.strftime("%A, %B %-d") %>, <%= @job.time %></u><a class="btn btn-default pull-right" data-toggle="modal" data-backdrop="false" data-target="#<%= offer.id %>-cancel-booking">Cancel Booking</a></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            
                <!-- Modal -->
                <div class="modal fade" id="<%= offer.id %>-cancel-booking" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                    
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3 class="modal-title" id="myModalLabel">Booking Cancellation </h3>
                      </div>
                      
                      <%= form_tag('/jobs/buyer-cancel-booking') do %>
                        <div class="modal-body">
                          <p class="">Are you sure you want to cancel this booking?</p>
                          <%= hidden_field_tag "id", @job.id %>
                        </div>
                        
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          <%= submit_tag "Cancel Booking", class: "btn btn-primary" %>
                        </div>
                      <% end %>
                    </div><!-- /.modal-content -->
                  </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
		        
          <% else %>
            <% if @offers.count > 0 %>
            
              <!-- ==============================================
              HEADER
              =============================================== -->
              <section id="booking-header" class="color-bg light-typo">
              
                <div class="container center">
                  
                  <h1 class="section-title no-after" id="no-after">My Booking Request</h1>
                                              
                </div><!-- End container -->
                
              </section>
              
              <section id="blog-categories" class="gray-bg">
		
                <div class="container">
                
                  <div class="row">
                    
                    <div>
                    
                      <h1 class="subsection-title booking-date"><%= @job.date.strftime("%B %e, %Y").to_s + " - " + @job.time.to_s %></h1>
                      
                      <% if @job.details != "" %>
                        <p><%= @job.details %></p>
                      <% end %>
                    
                      <ul>
                        <li class="">
                          <span><%= @job.building_type %></span>
                        </li>
                        <li>
                          <span><%= @job.cleaning_type %></span>
                        </li>
                        <li>
                          <span><%= @job.bedrooms %> bedroom<%= "s" unless (@job.bedrooms > 1) %></span>
                        </li>
                        <li>
                          <span><%= @job.bedrooms %> bedroom<%= "s" unless (@job.bedrooms > 1) %></span>
                        </li>
                        <li>
                          <span><%= @job.square_footage %></span>
                        </li>
                        <% if @job.fridge %>
                          <li>
                            <span>Clean inside fridge</span>
                          </li>
                        <% end %>
                        <% if @job.oven %>
                          <li>
                            <span>Clean inside oven</span>
                          </li>
                        <% end %>
                        <% if @job.cabinets %>
                          <li>
                            <span>Clean inside cabinets</span>
                          </li>
                        <% end %>
                        <% if @job.windows %>
                          <li>
                            <span>Clean interior windows </span>
                          </li>
                        <% end %>
                        <% if @job.walls %>
                          <li>
                            <span>Clean interior walls </span>
                          </li>
                        <% end %>
                      </ul>
                                            
                    </div><!--End Blog Categories -->	
                    
                  </div><!--End row-->
                  
                </div><!--End container -->
                
              </section>
              
              
              <section id="offers" class="">
                <div class="container">
                  <h1 class="subsection-title">Offers</h1>
                </div>
		
                <div class="container">
                  <div class="row">
                    <div class="col-lg-6 col-lg-offset-3 offer-pricing">
                      <% @offers.each do |offer| %>
                        
					              <div class="col-sm-12 text-center offer-item">
					
                            <div class="row">
					                    <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-4 text-center">
							                  <p class="icon"><img width="100%" src="<%= offer.profile.image.thumb %>" /></p>
					                    </div>
				                    </div>
				                    
                            <div class="row">
					                    <div class="col-xs-12 text-center">
							                  <h2><%= offer.profile.name %></h2>
					                    </div>
				                    </div>
                                
                            <div class="row">
					                    <div class="col-sm-12 text-center">
							                  <p class=""><%= simple_format(offer.profile.about, :sanitize => true) %></p>
					                    </div>
				                    </div>
							                  
                            <div class="row gray-bg">
					                    <div class="col-sm-6 text-center">
							                  <p class="price">$<%= offer.dollar_amount %></p>
							                  <p class="price-details"><%= offer.cleaner_amount %> Cleaner<%= "s" if offer.cleaner_amount > 1 %> for
							                  <%= offer.hour_amount %> Hour<%= "s" if offer.hour_amount > 1 %></p>
					                    </div>
					                    <div class="col-sm-6 text-center">
							                  <a class="btn btn-qubico" data-toggle="modal" data-backdrop="false" data-target="#<%= offer.id %>-offer">Book Me</a>
					                    </div>
					                  </div>
					                  						
					              </div>
						
                        
                        <!-- Modal -->
                        <div class="modal fade" id="<%= offer.id %>-offer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                            
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h3 class="modal-title" id="myModalLabel">Booking Confirmation</h3>
                              </div>
                              
                              <%= form_tag('/jobs/buyer-confirm-booking') do %>
                                <div class="modal-body">
                                  		
                                  	<div class="form-group">
                                      <label>Name</label>
                                      <%= text_field_tag :name, nil, class: "job-details form-control" %>
                                    </div>
                                    
                                  	<div class="form-group">
                                      <label>Address</label>
                                      <%= text_field_tag :address, nil, class: "job-details form-control" %>
                                    </div>

                                    <div class="form-group">
                                      <label>Phone Number</label>
                                      <%= phone_field_tag :phone, nil, class: "form-control" %>
                                    </div>
                                    
                                    <%= hidden_field_tag :job_id, @job.id %>
                                    <%= hidden_field_tag :winning_profile_id, offer.profile_id %>
                                    <%= hidden_field_tag :winning_offer_id, offer.id %>
                                  
                                </div>
                                
                                <div class="modal-footer gray-bg">
                                  <%= submit_tag "Confirm Booking", :class => "btn btn-qubico" %>
                                </div>
                              <% end %>
                            </div><!-- /.modal-content -->
                          </div><!-- /.modal-dialog -->
                        </div><!-- /.modal -->
                      <% end %>
                
				            </div>
				          </div>
					      </div>
		          </section>
                
                
            <% else %>
		          				
              
              <!-- ==============================================
              HEADER
              =============================================== -->
              <section id="booking-header" class="color-bg light-typo">
              
                <div class="container center">
                  
                  <h1 class="section-title no-after" id="no-after">My Booking Request</h1>
                            
                </div><!-- End container -->
                
              </section>
              
              <section id="blog-categories" class="gray-bg">
		
                <div class="container" id="booking-details">
                
                  <div class="row">
                    
                    <div>
                    
                      <h1 class="subsection-title booking-date"><%= @job.date.strftime("%B %e, %Y").to_s + " - " + @job.time.to_s %></h1>
                    
                      <% if @job.details != "" %>
                        <p><%= @job.details %></p>
                      <% end %>
                    
                      <ul>
                        <li class="">
                          <span><%= @job.building_type %></span>
                        </li>
                        <li>
                          <span><%= @job.cleaning_type %></span>
                        </li>
                        <li>
                          <span><%= @job.bedrooms %> bedroom<%= "s" unless (@job.bedrooms > 1) %></span>
                        </li>
                        <li>
                          <span><%= @job.bedrooms %> bedroom<%= "s" unless (@job.bedrooms > 1) %></span>
                        </li>
                        <li>
                          <span><%= @job.square_footage %></span>
                        </li>
                        <% if @job.fridge %>
                          <li>
                            <span>Clean inside fridge</span>
                          </li>
                        <% end %>
                        <% if @job.oven %>
                          <li>
                            <span>Clean inside oven</span>
                          </li>
                        <% end %>
                        <% if @job.cabinets %>
                          <li>
                            <span>Clean inside cabinets</span>
                          </li>
                        <% end %>
                        <% if @job.windows %>
                          <li>
                            <span>Clean interior windows </span>
                          </li>
                        <% end %>
                        <% if @job.walls %>
                          <li>
                            <span>Clean interior walls </span>
                          </li>
                        <% end %>
                      </ul>
                                            
                    </div><!--End Blog Categories -->	
                    
                  </div><!--End row-->
                  
                </div><!--End container -->
                
              </section>
              
              
              <section id="offers" class="">
                <div class="container">
                  <h1 class="subsection-title">Offers</h1>
                  <p class="subsection-description">We have sent your booking request to <%= @job.city.pretty_name %>'s best cleaners. We will notify you by email whenever you receive a new offer.</p>
                </div>
		          </section>
              
            <% end %>
          <% end %>
        <% end %>
		            
		    

